body{
    margin: 0;
    text-align:center;
    background:linear-gradient(#22c1c3,#fdbb2d)
}
img{
  border-radius: 50%;
}
.line{
  height:8px;
  background-color: black;
  width:70px;
  margin: 8px auto;
}
p{
    font-size: 17px;
}
